<ion-header class="modal-fullscreen " color="secondary">
  <ion-item  class="card-header " color="secondary">
    <ion-icon class="settings-element fas fa-times" (click)="closeModal(false)" slot="start"></ion-icon>
    <ion-grid class="grid-adjust " color="secondary">
      <ion-row class="ion-justify-content-center ion-align-items-center " color="secondary">
        <span class="span-white" translate>modals.import.title</span>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-header>

<ion-content class="page-content-with-slim-header ion-padding modal-background">
  <ion-grid *ngIf="!mnemonicLanguage">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <h4 translate>common.select-language</h4>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-button size="small" shape="round" color="secondary" (click)="selectLanguage('english')" translate>common.languages.english</ion-button>
      <ion-button size="small" shape="round" color="secondary" (click)="selectLanguage('spanish')" translate>common.languages.spanish</ion-button>
      <ion-button size="small" shape="round" color="secondary" (click)="selectLanguage('french')" translate> common.languages.french</ion-button>
      <ion-button size="small" shape="round" color="secondary" (click)="selectLanguage('italian')" translate>common.languages.italian</ion-button>
    </ion-row>
  </ion-grid>
  <ion-card class="card" *ngIf="mnemonicLanguage">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding ion-text-center">
        <h2 style="color: var(--ion-color-danger)" translate>common.warning</h2>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding ion-text-center">
        <span style="color: var(--ion-color-danger)" translate>modals.import.warning-1</span>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding">
        <span translate>common.mnemonic-phrase</span>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center ion-padding">
        <ion-input type="text" #mnemonic placeholder=""></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button shape="round" [disabled]="!mnemonic.value" color="secondary" (click)="setMnemonic(mnemonic.value)" translate>common.submit</ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
