<app-tool-bar [back]="true" [titleText]="'pages.settings.title' | translate"></app-tool-bar>
<ion-content class="page-content-with-slim-header">
    <ion-list style="background: none" lines="none">
        <ion-list-header translate>pages.settings.subtitle</ion-list-header>

        <ion-item class="settings-element ion-activatable" (click)="reloadCoinsData()">
            <ion-icon slot="start" color="black" name="refresh"></ion-icon>
            <span translate>pages.settings.reload-coins</span>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
        <br/>
        <ion-item class="settings-element ion-activatable" (click)="clearRatesData()">
            <ion-icon slot="start" color="black" name="refresh"></ion-icon>
            <span translate>pages.settings.reload-rates</span>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
        <br/>
        <ion-item class="settings-element ion-activatable" (click)="changeLanguage()">
            <ion-icon slot="start" color="black" name="flag"></ion-icon>
            <span translate>pages.settings.select-language</span>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
    </ion-list>
</ion-content>
