<ion-content class="page-content-with-slim-header modal-fullscreen modal-background ">
  <ion-item  class="card-header " color="secondary">
    <ion-icon class="settings-element fas fa-times" (click)="closeModal()" slot="start"></ion-icon>
    <ion-grid class="grid-adjust">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <span class="span-white" translate>modals.tx-details.title</span>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list *ngIf="btx">
    <ion-item>
      <ion-avatar>
        <span *ngIf="confirmed && !type || type === 'normal-tx'">
          <img src="assets/img/tx-action/icon-sent.svg" width="40" *ngIf="sent && !received && !contract"/>
          <img src="assets/img/tx-action/icon-received.svg" width="40" *ngIf="received && !sent  && !contract"/>
          <img src="assets/img/tx-action/icon-moved.svg" width="40" *ngIf="sent && received  && !contract"/>
          <img src="assets/img/tx-action/icon-moved.svg" width="40" *ngIf="contract"/>
        </span>
      </ion-avatar>
      <ion-grid class="ion-padding">
        <ion-row>
          <div *ngIf="confirmed">
            <span *ngIf="sent && !received && !contract" translate>common.sent</span>
            <span *ngIf="received && !sent && !contract" translate>common.received</span>
            <span *ngIf="sent && received && !contract" translate>common.moved</span>
            <span *ngIf="contract" translate>common.stake-contract</span>
          </div>
        </ion-row>
        <ion-row *ngIf="confirmed">
           <span>
            {{ amount | satToUnit: coin }}
          </span>
        </ion-row>
        <!-- <ion-row *ngIf="confirmed && !contract">
          <span>
            {{ amount | satToFiat: coin:this.alternative | async }}
          </span>
        </ion-row> -->

      </ion-grid>
    </ion-item>

    <ion-item *ngIf="fee">
      <span slot="start" translate>common.miner-fee</span>
      <ion-note slot="end">
        {{ fee | satToUnit: coin}}
        <!--  {{ fee | satToFiat: coin:this.alternative | async }} -->
      </ion-note>
    </ion-item>

    <ion-item *ngIf="sent && !received" copyToClipboard="{{ address }}" class="settings-element">
      <span slot="start" translate>common.sent-to</span>
      <ion-note slot="end" class="truncate-string">{{address}}</ion-note>
    </ion-item>

    <ion-item *ngIf="btx.blocktime">
      <ion-label slot="start" translate>common.date</ion-label>
      <ion-note slot="end">
        <time>{{ btx.blocktime * 1000 | date: 'medium' }}</time>
      </ion-note>
    </ion-item>

    <ion-item >
      <span slot="start" translate>common.confirmed</span>
      <ion-note slot="end">
        <span *ngIf="!confirmed" translate>common.unconfirmed</span>
        <span *ngIf="confirmed">{{ btx.confirmations }}</span>
      </ion-note>
    </ion-item>

    <ion-item copyToClipboard="{{ btx.txid }}" class="settings-element">
      <span slot="start" translate>common.tx-id</span>
      <ion-note slot="end" class="truncate-string">{{ btx.txid }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="page-content-with-slim-header">
  <ion-button style="margin: 0px" expand="full" size="large" color="secondary" (click)="viewOnBlockchain()"
  translate>common.view-on-blockchain
  </ion-button>
</ion-footer>
