<ion-content class="page-content-with-slim-header modal-fullscreen modal-background ">
  <ion-item  class="card-header " color="secondary">
    <ion-icon class="settings-element fas fa-times" (click)="closeModal()" slot="start"></ion-icon>
    <ion-grid class="grid-adjust">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <span class="span-white">Transaction Details</span>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list *ngIf="btx">
    <ion-item>
      <ion-avatar>
        <span *ngIf="confirmed && !type || type === 'normal-tx'">
          <img src="assets/img/app/tx-action/icon-sent.svg" width="40" *ngIf="sent && !received"/>
          <img src="assets/img/app/tx-action/icon-received.svg" width="40" *ngIf="received && !sent"/>
          <img src="assets/img/app/tx-action/icon-moved.svg" width="40" *ngIf="sent && received"/>
        </span>
        <span *ngIf="type && type !== 'normal-tx'">
          <img src="assets/img/app/tx-action/icon-sent.svg" width="40" *ngIf="type === 'token-transfer-send'"/>
          <img src="assets/img/app/tx-action/icon-received.svg" width="40" *ngIf="type === 'token-transfer-received'"/>
          <img src="assets/img/app/tx-action/icon-sent.svg" width="40" *ngIf="type === 'contract-interaction'"/>
        </span>
      </ion-avatar>
      <ion-grid class="ion-padding">
        <ion-row>
          <div *ngIf="confirmed && !type || type === 'normal-tx'">
            <span *ngIf="sent && !received">Sent</span>
            <span *ngIf="received && !sent">Received</span>
            <span *ngIf="sent && received">Moved</span>
          </div>
          <div *ngIf="type && type !== 'normal-tx'">
            <span *ngIf="type === 'token-transfer-received'">Received tokens</span>
            <span *ngIf="type === 'token-transfer-send'">Send tokens</span>
            <span *ngIf="type === 'contract-interaction'">Contract interaction</span>
          </div>
        </ion-row>
        <ion-row *ngIf="confirmed && !type || type === 'normal-tx'">
           <span>
            {{ amount | satToUnit: coin }}
          </span>
        </ion-row>
        <ion-row *ngIf="confirmed && !type || type === 'normal-tx'">
          <span>
            {{ amount | satToFiat: coin:this.alternative | async }}
          </span>
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-item *ngIf="fee">
      <span slot="start">Miner fee</span>
      <ion-note slot="end">
        {{ fee | satToUnit: coin}} {{ fee | satToFiat: coin:this.alternative | async }}
      </ion-note>
    </ion-item>

    <ion-item *ngIf="sent && !received" copyToClipboard="{{ address }}" class="settings-element">
      <span slot="start">Sent to</span>
      <ion-note slot="end" class="truncate-string">{{address}}</ion-note>
    </ion-item>

    <ion-item *ngIf="btx.blocktime">
      <ion-label slot="start">Date</ion-label>
      <ion-note slot="end">
        <time>{{ btx.blocktime * 1000 | date: 'medium' }}</time>
      </ion-note>
    </ion-item>

    <ion-item >
      <span slot="start">Confirmations</span>
      <ion-note slot="end">
        <span *ngIf="!confirmed">Unconfirmed</span>
        <span *ngIf="confirmed">{{ btx.confirmations }}</span>
      </ion-note>
    </ion-item>

    <ion-item copyToClipboard="{{ btx.txid }}" class="settings-element">
      <span slot="start">Transaction ID</span>
      <ion-note slot="end" class="truncate-string">{{ btx.txid }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="page-content-with-slim-header">
  <ion-button style="margin: 0px" expand="full" size="large" color="secondary" (click)="viewOnBlockchain()"
              >View on Blockchain
  </ion-button>
</ion-footer>
