<ion-header class="modal-fullscreen">
  <ion-item color="secondary" class="card-header">
    <ion-icon class="settings-element fas fa-times" (click)="closeModal(false, true)" slot="start"></ion-icon>
    <ion-grid class="grid-adjust">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <span class="span-white" translate>modals.confirm.title</span>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-header>
<ion-content class="page-content-with-slim-header ion-padding modal-background">
  <ion-card class="card">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-start ion-padding">
        <ion-col>
          <ion-item style="--inner-border-width: 0 !important;">
            <ion-avatar slot="start">
              <ion-icon class="ion-icon-dark fas fa-2x fa-arrow-circle-up"></ion-icon>
            </ion-avatar>
            <div>
              <h4 *ngIf="!useSendMax" translate>modals.confirm.sending</h4>
              <h4 *ngIf="useSendMax" translate>modals.confirm.sending-max</h4>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list>
          <ion-item>
            <ion-checkbox slot="start" [(ngModel)]="spendLocked" (ionChange)="selectLocked($event)"></ion-checkbox>&nbsp;<ion-label><span translate>modals.confirm.spend-locked</span></ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-item-divider translate>modals.confirm.payment-information</ion-item-divider>
      <div class="ion-padding">
        <ion-row>
          <span *ngIf="useSendMax && TotalAvailable">{{TotalAvailable - FeeSatoshis | satToUnit:credentials.Coin}}</span>
          <span *ngIf="!useSendMax">{{payment.amount | satToUnit:credentials.Coin}}</span>
        </ion-row>
        <!-- <ion-row>
          <span style="font-size: 14px" *ngIf="alternative">
          {{ payment.amount | satToFiat: credentials.Coin:alternative | async }}
          </span>
        </ion-row> -->
      </div>
      <!-- <ion-item-divider translate>common.miner-fee</ion-item-divider>
       <app-fee-label *ngIf="alternative" [coin]="credentials.Coin" [fee]="FeeRates" [alternative]="alternative" (feeSelected)="feeSelected($event)"></app-fee-label> -->
      <ion-item-divider translate>modals.confirm.receiver-info</ion-item-divider>
      <app-receiver-info [address]="payment.address" [label]="payment.label" [message]="payment.message"></app-receiver-info>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer class="page-content-with-slim-header">
  <ion-button color="secondary" style="margin: 0" expand="full" size="large" (click)="startTx()"
             translate>common.confirm
  </ion-button>
</ion-footer>
