<ion-content class="ion-padding modal-fullscreen">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-card-title><span translate>common.password</span></ion-card-title>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <span translate *ngIf="!confirm">components.wallet.ask-password</span>
            <span translate *ngIf="confirm">components.wallet.add.components</span>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-item [formGroup]="passwordForm">
              <ion-label floating>Password</ion-label>
              <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" #password></ion-input>
              <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-button size="small" fill="clear" (click)="close(false, null)"><span translate>common.cancel</span></ion-button>
            <ion-button size="small" fill="clear" (click)="close(true, password.value)"><span translate>common.ok</span></ion-button>
            <ion-button size="small" fill="clear" *ngIf="!confirm" (click)="close(true, null)"><span translate>common.no-password</span></ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

