<app-tool-bar [back]="true" titleText="Wallet Information"></app-tool-bar>
<ion-content class="page-content-with-slim-header">
  <ion-list style="background: none" *ngIf="wallet" lines="none">
    <ion-list-header>Main Wallet Information</ion-list-header>
    <ion-item copyToClipboard="{{wallet.Properties.id}}">
      <span slot="start">Wallet ID</span>
      <ion-note style="white-space: nowrap;" slot="end">
        {{wallet.Properties.id}}
      </ion-note>
    </ion-item>
    <ion-item copyToClipboard="{{wallet.Properties.backup}}">
      <span slot="start">Backup</span>
      <ion-note style="white-space: nowrap;" slot="end">
        {{wallet.Properties.backup}}
      </ion-note>
    </ion-item>
    <br/>
  </ion-list>
</ion-content>
