<app-tool-bar [back]="true" [titleText]="'pages.wallet.add.title' | translate" ></app-tool-bar>
<ion-content class="page-content-with-slim-header ion-padding">
    <ion-card class="card">
      <form [formGroup]="createForm">
      <ion-item>
        <ion-label position="stacked" translate>pages.wallet.add.wallet-name</ion-label>
        <ion-input type="text" formControlName="walletName" [placeholder]="'pages.wallet.add.wallet-name-placeholder' | translate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" translate>pages.wallet.add.wallet-key</ion-label>
        <ion-select formControlName="selectedSeed" [placeholder]="'pages.wallet.add.wallet-key-placeholder' | translate" #Seed (ionChange)="SetSeed(Seed.value)">
          <ion-select-option value="Random" translate>pages.wallet.add.seeds.random</ion-select-option>
          <ion-select-option value="MnemonicPhrase" translate>pages.wallet.add.seeds.import</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="secondary" class="item-button" (click)="createWallets()" [disabled]="!createForm.valid">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <span class="span-white" translate>pages.wallet.add.create-wallet</span>
          </ion-row>
        </ion-grid>
      </ion-item>
      </form>
    </ion-card>
</ion-content>
