<ion-card class="card">
  <ion-item [ngStyle]="{'background': wallet.Properties.color}" class="wallet-element-header">
    <span class="span-white wallet-element-header"> {{ wallet.Properties.name }}</span>
    <div slot="end">
      <button *ngIf="!wallet.Properties.encrypted" [style.background-color]="wallet.Properties.color" style="font-size: 16px;color: #fff" (click)="encryptWallet()"><i class="i-white fas fa-unlock"></i>&nbsp;</button>
      <button [style.background-color]="wallet.Properties.color" style="font-size: 16px;color: #fff" (click)="reloadWallet()" *ngIf="!isReloadingWallet"><i class="i-white fas fa-sync"></i></button>
      <button [style.background-color]="wallet.Properties.color" style="font-size: 16px;color: #fff" (click)="reloadWallet()" *ngIf="isReloadingWallet"><i class="i-white fas fa-sync fa-spin"></i></button>
      <button [style.background-color]="wallet.Properties.color" style="font-size: 16px;color: #fff" (click)="goToSettings()"><i class="i-white fas fa-cog"></i></button>
    </div>
  </ion-item>
  <div *ngIf="dark" [ngStyle]="{'background': wallet.Properties.color}" class="wallet-color-line"></div>
  <ion-list lines="none">
    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col class="ion-text-center">
            <span>Wallet Status</span>
            <br/>
            <span class="info-icons settings-element" (click)="displayInfo('Your mnemonic is backed up. You are able to recover your wallet.')" *ngIf="wallet.Properties.backup"><i class="fas fa-user-shield icon-home-green icon-home-green" ></i></span>
            <span class="info-icons settings-element" (click)="displayInfo('Your mnemonic is not backed up. You will not be able to recover your wallet.')" *ngIf="!wallet.Properties.backup"><i class="fas fa-user-shield icon-home-red"></i></span>
            <span class="info-icons settings-element" (click)="displayInfo('Your wallet is encrypted.')" *ngIf="wallet.Properties.encrypted"><i class="fas fa-lock icon-home-green"></i></span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <div>
    <ion-list lines="none">
        <app-coin-info class="coin-item ion-padding" [Coin]="wallet.Credentials.wallet.Coin" [wallet]="wallet" [AlternativeCoin]="AlternativeCoin"></app-coin-info>
    </ion-list>
  </div>
</ion-card>
