.wallet-element-header {
    color: #fff;
    --background: none;
}
.wallet-color-line {
    --background: none;
    height: 3px;
    width: 100%;
}
.coin-item {
    margin: 15px;
}

.info-icons {
    font-size: 1.5em;
}
.fa-spin {
    animation-duration: 0.5s;
}
