<app-tool-bar [back]="true" [titleText]="'pages.wallet.receive.title' | translate"></app-tool-bar>
<ion-content class="page-content-with-slim-header ">
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="wallet && wallet.Properties.backup">
      <qrcode class="qr-code" copyToClipboard="{{ qrAddress }}" [qrdata]="qrAddress"  *ngIf="wallet && address" [size]="256" [level]="'M'"></qrcode>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-text-center" *ngIf="wallet && wallet.Properties.backup">
      <ion-item class="ion-padding">
        <ion-label translate>common.amount</ion-label>
        <ion-input type="digit" placeholder="10.00" #amount></ion-input>
        <ion-button color="secondary" (click)="setAmount(amount.value)" translate>pages.wallet.receive.set-amount</ion-button>
      </ion-item>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-text-center" *ngIf="wallet && wallet.Properties.backup">
      <ion-button
              *ngIf="credentials.isSegwit"
              (click)="getAddress('P2SHInP2WPKH')"><span class="span-white" style="font-size: 16px">common.segwit</span></ion-button>
      <ion-button
              *ngIf="credentials.isSegwit"
              (click)="getAddress('P2WPKH')"
      ><span class="span-white" style="font-size: 16px" translate>common.bech32</span></ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid>
      <div *ngIf="wallet && !wallet.Properties.backup">
        <ion-row class="ion-padding ion-align-items-center ion-justify-content-center">
          <img src="assets/img/backup/backup-needed-page.svg" alt="backup-needed" />
        </ion-row>
        <ion-row class="ion-padding ion-align-items-center ion-justify-content-center">
          <span translate>common.non-backup-title</span>
        </ion-row>
        <ion-row class="ion-padding ion-align-items-center ion-justify-content-center" style="text-align: center">
          <span translate>common.non-backup-subtitle</span>
        </ion-row>
        <ion-row class="ion-padding ion-align-items-center ion-justify-content-center">
          <ion-button (click)="backupWallet()" translate>common.non-backup-action</ion-button>
        </ion-row>
      </div>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="wallet && wallet.Properties.backup">
  <div *ngIf="wallet && credentials && address" style="text-align: center">
    <div *ngIf="wallet && wallet.Properties.backup" class="address-container">
      <div class="text-address ellipsis">
        <div
          class="address-text ellipsis">
          <span class="addressReceive" copyToClipboard="{{ address }}">{{ address }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-footer>
