<app-tool-bar [back]="true" [titleText]="'pages.wallet.settings.settings.title' | translate"></app-tool-bar>
<ion-content>
    <ion-list style="background: none" lines="none" *ngIf="wallet">
        <ion-list-header translate>pages.wallet.settings.settings.information</ion-list-header>
        <ion-item  (click)="openWalletName()" class="settings-element">
            <ion-icon slot="start" color="black" name="pricetag"></ion-icon>
            <span translate>pages.wallet.settings.settings.name</span>
            <ion-note slot="end">{{wallet && wallet.Properties.name}}</ion-note>
        </ion-item>
        <ion-item (click)="openWalletColor()" class="settings-element">
            <ion-icon slot="start" color="black" name="color-palette"></ion-icon>
            <span slot="start" translate>pages.wallet.settings.settings.color</span>
            <ion-note slot="end" [ngStyle]="{'background-color': wallet?.Properties.color}" class="settings-color-block"></ion-note>
        </ion-item>
        <br/>

        <ion-list-header translate>pages.wallet.settings.settings.security</ion-list-header>
        <ion-item class="settings-element" (click)="openBackupSettings()">
            <ion-icon slot="start" color="black" name="key"></ion-icon>
            <span slot="start" translate>pages.wallet.settings.settings.paper-key</span>
            <ion-note slot="end" *ngIf="!wallet.Properties.backup" class="wallet-warning">
                <span translate>pages.wallet.settings.settings.unverified</span>
            </ion-note>
        </ion-item>
        <br/>
        <ion-list-header translate>pages.wallet.settings.settings.advanced</ion-list-header>
        <ion-item class="settings-element" (click)="openWalletInformation()">
            <ion-icon slot="start" color="black" name="information-circle"></ion-icon>
            <span slot="start" translate>pages.wallet.settings.settings.information</span>
        </ion-item>
        <ion-item class="settings-element" (click)="openDeleteWallet()">
            <ion-icon slot="start" color="black" name="trash"></ion-icon>
            <span slot="start" translate>pages.wallet.settings.settings.delete</span>
        </ion-item>
    </ion-list>
</ion-content>
