<app-tool-bar [back]="true" [titleText]="'pages.wallet.settings.delete.title'"></app-tool-bar>
<ion-content class="page-content-with-slim-header">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <h3 style="color: darkred"><span>common.warning</span></h3>
    </ion-row>
    <br/>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding">
      <span style="text-align: center">pages.wallet.settings.delete.warning</span>
    </ion-row>
    <br/>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-button color="danger" size="large" shape="round" (click)="showDeletePopup()">pages.wallet.settings.delete.delete-wallet</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
