<ion-header class="modal-fullscreen " color="secondary" *ngIf="!this.platformProvider.isiOS">
  <ion-item class="card-header " color="secondary">
    <ion-icon class="settings-element fas fa-times" (click)="closeModal(false)" slot="start"></ion-icon>
    <ion-grid class="grid-adjust">
      <ion-row class="ion-justify-content-center ion-align-items-center  ">
        <span class="span-white">common.scan</span>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-header>

<ion-content class="page-content-with-slim-header ion-padding-top modal-background " style="--background: var(--ion-color-primary-shade)" *ngIf="!this.platformProvider.isiOS">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-padding">
      <span class="span-white">common.scan-qr</span>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-padding" >
      <img src="assets/img/qr-scan-guides.svg" alt="scan square" style="position: absolute;max-width: 180px">
      <zxing-scanner style="padding: 15px; width: 80%; border: 1px solid; border-color: var(--ion-color-danger-contrast); border-radius: 10px; background: var(--ion-color-danger-contrast)"
                     #scanner (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content class="page-content-with-slim-header ion-padding-top" style="--background: var(--ion-color-primary-shade)" *ngIf="this.platformProvider.isiOS">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-padding">
      <span class="span-white">common.scan-qr</span>
    </ion-row>
  </ion-grid>
</ion-content>

